@font-face {
    font-family: "Norse Bold";
    src: url(/fonts/Norse-Bold.woff2) format("woff2");
}

body {
    margin: 0;
    display: flex;
    font-family: sans-serif;
}

img {
    height: 12vh;
}

.image-sidebar {
    background-image: url("images/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    height: 100vh;
    width: 30%;
}

.logo-content {
    background-color: rgb(0, 0, 0, 0.4);
    height: 15vh;
    width: 100%;
    margin-top: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-text {
    font-family: "Norse Bold";
    color: white;
    font-size: 100px;
}

.main-content {
    flex: auto;
    padding-left: 50px;
    padding-top: 20vh;

    background-color: #f9fafb;
}

.cta {
    margin-bottom: 50px;
}

.cta-content {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 24px;
    width: 740px;
}