@font-face {
    font-family: "Norse Bold";
    src: url(/fonts/Norse-Bold.woff2) format("woff2");
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    font-family: sans-serif;
}

img {
    height: 12vh;
}

.image-sidebar {
    background-image: url("images/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    height: 100vh;
    width: 30%;
}

.logo-content {
    background-color: rgb(0, 0, 0, 0.4);
    height: 15vh;
    width: 100%;
    margin-top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-text {
    font-family: "Norse Bold";
    color: white;
    font-size: 100px;
}

.main-content {
    width: 70vw;
    padding-top: 16vh;
    background-color: #f9fafb;
}

.cta {
    margin-bottom: 50px;
}

.cta-content {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 24px;
    width: 740px;
}

.form-title {
    font-size: 24px;
    font-weight: 600;
    padding-top: 16px;
    padding-bottom: 16px;

}

label {
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
    margin-bottom: 2px;
}

.form-title, label {
    color: #1f2937;
}


.signup-form {
    height: 30vh;
    background-color: white;
    box-shadow: 5px 5px 5px lightgray;
}

.cta, .signup-form, .account-creation {
    padding-left: 50px;
}

.form-row {
    display: flex;
    gap: 60px;
    padding-bottom: 20px;
}

.form-item {
    display: flex;
    flex-direction: column;
    width: 250px;
}

input {
    font-size: 16px;
    padding: 8px;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
}

input:focus {
    box-shadow: 5px 5px 5px lightgray;
}

input[type="password"]:invalid {
    border: 1px solid #b91c1c;
}